@font-face{font-family:'Kipish';src:url('assets/fonts/kipish-regular.ttf') format('truetype');font-display:swap}
@font-face{font-family:'Witchwoode';src:url('assets/fonts/witchwoode-regular.woff2') format('woff2');font-display:swap}
@font-face{font-family:'Royalty Free';src:url('assets/fonts/royalty-free.ttf') format('truetype');font-display:swap}
@font-face{font-family:'Sekaiwo';src:url('assets/fonts/sekaiwo-regular.ttf') format('truetype');font-display:swap}
@font-face{font-family:'Showclick';src:url('assets/fonts/showclick.ttf') format('truetype');font-display:swap}
@font-face{font-family:'Marti';src:url('assets/fonts/marti.otf') format('opentype');font-display:swap}
@font-face{font-family:'Star Rust';src:url('assets/fonts/star-rust.otf') format('opentype');font-display:swap}
